input{
    width: 250px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #888;
    border: none;
    outline: none;
    background-color: #fff;
}

button{
    width: 120px;
    height: 50px;
    border-radius: 20px;
    background-color: #FFE600;
    color: #9c9c9c;
    font-size: 20px;
    border: none;
    box-shadow: 1px 1px 3px #888;
    cursor: pointer;
}

.login-button{
    position: relative;
    top: -30px;
}

.link{
    font-size: 15px;
    font-weight: bold;
    color: #9c9c9c;
    padding-top: 17px;
}

a{
    color: #9c9c9c;
    font-size: 15px;
    font-weight: normal;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }