body{
    background-color: #f5f5f5;
}

.main{
    text-align: center;
    display: flex;
    height: 96vh;
    vertical-align: middle;
    margin-top: 2vh;
    margin-left: 10px;
    min-height: 400px;
}

.sub-main{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 340px;
    box-shadow: inset -5px -5px 6px rgb(207, 207, 207);
    border-radius: 30px;
    background-color: white;
}

.imgs{
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    display: flex;
}

.logo{
    height: 150px;
    padding-top: 20px;
    justify-content: center;
    display: flex;
}

input{
    border-radius: 5px;
    box-shadow: 1px 1px 3px #888;
    border: none;
    outline: none;
    background-color: #fff;
}

.name{
    display: flex;
    padding-left: 50px;
    padding-right: 15px;
    font-size: 15px;
    width: 220px;
    height: 38px;
}

.search{
    height: 25px;
    width: 25px;
    position: absolute;
    padding-top: 7px;
    left: 52px;
}