.main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 25px 0 10px 0;
  background-color: #f5f5f5;
}

.sub-main{
  display: flex;
  justify-content: center;
  height: 530px;
  width: 30%;
  box-shadow: inset -5px -5px 6px rgb(207, 207, 207);
  padding-top: 30px;
  border-radius: 30px;
  background-color: white;
}

.imgs{
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  display: flex;
}

.logo{
  height: 150px;
  border-radius: 130px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  display: flex;
}

input{
  width: 250px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #888;
  border: none;
  outline: none;
  background-color: #fff;
}

.email{
  height: 25px;
  width: 25px;
  position: absolute;
  padding: 14px 0 0 25px;
}

.name{
  padding-left: 70px;
  font-size: 15px;
}

.second-input{
  padding-top: 20px;
}

button{
  width: 150px;
  height: 50px;
  border-radius: 20px;
  background-color: #FFE600;
  color: #9c9c9c;
  font-size: 20px;
  border: none;
  box-shadow: 1px 1px 3px #888;
  cursor: pointer;
}

.login-button{
  padding-top: 25px;
}

.link{
  font-size: 15px;
  font-weight: bold;
  color: #9c9c9c;
  padding-top: 17px;
}

a{
  color: #9c9c9c;
  font-size: 15px;
  font-weight: normal;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }